<ion-view cache-view="false" view-title="Saved Locations">
  <ion-content class="padding">
    <button class="button button-clear button-light icon-left ion-minus-circled"
      ng-click="showHideDeleteButtons()"
      ng-show="savedLocations">{{showHide}} delete buttons</button>
    <ion-list show-delete="showDelete">
      <ion-item ng-repeat="savedLocation in savedLocations" ng-click="getWeatherWithCity(savedLocation)">
        <ion-delete-button class="ion-minus-circled" ng-click="removeSavedLocation($index)"></ion-delete-button>
        {{savedLocation}}
      </ion-item>
	</ion-list>
  </ion-content>
</ion-view>
